.artig, .captura-artigos{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.author-bio{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#comments{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#secondary .widget{
   -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#secondary .widget h3{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.widget-paginas a {
  border-radius: 2px;
}

#secondary .widget:hover{
	border-radius: 2px;
}